
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
body{
  margin: 0px;
  background-color: #1f1f1f;
}
.background
{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#sobre-juego-background
{
  background-image: url("images/sobreJuego.jpg");
  height: 50vh;
}
#nivelesImg
{
  background-image: url("images/level.jpeg");
  height: 50vh;
}
.heading-body
{
  background-color: #cfb9ff;
  color:#dcff79;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-size: x-large;
  padding: 20px;
}
.aboutDesc{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
  /* CodePen Home
    Menu "Hamburger" Icon Animations
    Jesse Couch. Recuperado de: https://codepen.io/designcouch/pen/Atyop */

#nav-icon1{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu{
  height: 27vh;
  position: absolute;
  top: 15%;
  left: 70%;
  width: 15%;
  padding: 3%;
  padding-bottom: 5%;
  background-color: #221f1f;
  border-radius: 6px;
  border: 3px solid #03DAC5;
}
#jueguito{
  background-image: url("images/primerBackground1.jpg");
  height: 600px;
}
#tutorial{
  margin: auto;
  margin-left: 25%;
}
.circleMenu{
  background-color: rgb(114, 110, 110);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.menuIcon{
  width: 35px;
  height: 35px;
  margin-top: 7px;
  margin-left: 7px;
  align-self: center;
}
.link{
  width: 100%;
  border-radius: 6px;
  color: white;
  background-color: #221f1f;
  display: flex;
  text-decoration: none;
  border-bottom: 0.5px solid transparent; 
  text-align: center;
}
.link a{
  color: white;
  text-decoration: none;
}
.menuLabel{
  font-family: 'Marcellus', serif;
  font-size: 16px;
  margin-top: 5%;
  text-align: center;
  margin-left: 5%;
}
.link:hover{
  border: 2px solid #03DAC5;
  background-color: #03dac569;
}
.lvls{
  display: flex;
}
.indvLvl{
  margin: 7px;
  padding: 20px;
  border-radius: 7px;
}
#lvl1{ border: 2px solid #a65ca6; margin-left: 28px;}
#lvl2{ border: 2px solid #a65ca6;}
#lvl3{  border: 2px solid #a65ca6;}

#lvl1:hover{ background-color: #a65ca665;}
#lvl2:hover{ background-color: #a65ca665;}
#lvl3:hover{ background-color: #a65ca665;}
